@import "tailwindcss";
:root {
  --primary-color: #1d4ed8;   /* Blue-700 */
  --secondary-color: #f59e0b; /* Amber-500 */
  --accent-color: #10b981;    /* Green-500 */
  --bg-color: #f3f4f6;        /* Gray-100 */
  --text-color: #111827;      /* Gray-900 */
}
